<!-- BEGIN PROFILE SIDEBAR -->
<div class="profile-sidebar">
    <!-- PORTLET MAIN -->
    <div class="portlet light profile-sidebar-portlet bordered">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic"> <img src="../assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""> </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name"> Marcus Doe </div>
            <div class="profile-usertitle-job"> Developer </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
            <button type="button" class="btn btn-circle green btn-sm">Follow</button>
            <button type="button" class="btn btn-circle red btn-sm">Message</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
            <ul class="nav">
                <li class="active">
                    <a href="/profile"> <i class="fa fa-home"></i>Overview </a>
                </li>
                <li>
                    <a href="personal_info.html"> <i class="fa fa-user"></i> Personal Info</a>
                </li>
                <li>
                    <a href="contact_info.html"> <i class="fa fa-phone"></i> Contact Info </a>
                </li>
                <li>
                    <a href="identifiers.html"> <i class="fa fa-group"></i> Identifiers</a>
                </li>
                <li>
                    <a href="field_of_research.html"> <i class="fa fa-pencil"></i> Field of Research</a>
                </li>
                <li>
                    <a href="education.html"> <i class="fa fa-graduation-cap"></i>Education</a>
                </li>
                <li>
                    <a href="employment.html"> <i class="fa fa-briefcase"></i> Employment</a>
                </li>
                <li>
                    <a href="work"> <i class="fa fa-book"></i> Works</a>
                </li>
                <li>
                    <a href="funding.html"> <i class="fa fa-dollar"></i> Funding</a>
                </li>
                <li>
                    <a href="documents.html"> <i class="fa fa-folder-open"></i> Documents</a>
                </li>
                <li>
                    <a href="roster.html"> <i class="fa fa-list"></i> Roster</a>
                </li>
                <li>
                    <a href="aor.html"> <i class="fa fa-legal"></i> AOR</a>
                </li>
                <li>
                    <a href="privacy.html"> <i class="fa fa-lock"></i> Privacy & Settings</a>
                </li>
            </ul>
        </div>
        <!-- END MENU -->
    </div>
    <!-- END PORTLET MAIN -->
</div>
<!-- END BEGIN PROFILE SIDEBAR -->