<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU --> 
      <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) --> 
      <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode --> 
      <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode --> 
      <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing --> 
      <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded --> 
      <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
      <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="nav-item start "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-home"></i> <span class="title">Dashboard</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li class="nav-item start "> <a href="index.html" class="nav-link "> <i class="icon-bar-chart"></i> <span class="title">Dashboard 1</span> </a> </li>
            <li class="nav-item start "> <a href="dashboard_2.html" class="nav-link "> <i class="icon-bulb"></i> <span class="title">Dashboard 2</span> <span class="badge badge-success">1</span> </a> </li>
            <li class="nav-item start "> <a href="dashboard_3.html" class="nav-link "> <i class="icon-graph"></i> <span class="title">Dashboard 3</span> <span class="badge badge-danger">5</span> </a> </li>
          </ul>
        </li>
        <li class="heading">
          <h3 class="uppercase">Applicant Workspace</h3>
        </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-note"></i> <span class="title">Applications</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li class="nav-item  "> <a href="ui_colors.html" class="nav-link "> <span class="title">Search for Opportunities</span> </a> </li>
            <li class="nav-item  "> <a href="ui_general.html" class="nav-link "> <span class="title">Apply for Grants</span> </a> </li>
            <li class="nav-item  "> <a href="ui_buttons.html" class="nav-link "> <span class="title">Applications Status</span> </a> </li>
            <li class="nav-item  "> <a href="ui_confirmations.html" class="nav-link "> <span class="title">Notice of Award (NOA)</span> </a> </li>
            <li class="nav-item  "> <a href="ui_icons.html" class="nav-link "> <span class="title">Appeal</span> </a> </li>
          </ul>
        </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-docs"></i> <span class="title">Reports</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li class="nav-item  "> <a href="components_date_time_pickers.html" class="nav-link "> <span class="title">Performance Progress Reports</span> </a> </li>
            <li class="nav-item  "> <a href="components_color_pickers.html" class="nav-link "> <span class="title">Final Progress Reports</span> <span class="badge badge-danger">3</span> </a> </li>
            <li class="nav-item  "> <a href="components_select2.html" class="nav-link "> <span class="title">Cash Transaction Reports</span> </a> </li>
            <li class="nav-item  "> <a href="components_bootstrap_select.html" class="nav-link "> <span class="title">Financial Expenditure Reports</span> </a> </li>
            <li class="nav-item  "> <a href="components_multi_select.html" class="nav-link "> <span class="title">Final Financial Report</span> </a> </li>
          </ul>
        </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-directions"></i> <span class="title">Change Requests</span> </a> </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-directions"></i> <span class="title">Research Results</span> </a> </li>
        <li class="heading">
          <h3 class="uppercase">Reviewer Workspace</h3>
        </li>
        <li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-layers"></i> <span class="title">Reviews</span> </a> </li>
        <li class="heading">
          <h3 class="uppercase">AOR Workspace</h3>
        </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-basket"></i> <span class="title">Planning</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li class="nav-item  "> <a href="ecommerce_index.html" class="nav-link "> <span class="title">Planning an Opportunity</span> </a> </li>
            <li class="nav-item  "> <a href="ecommerce_orders.html" class="nav-link "> <span class="title">Announcing an Opportunity</span> </a> </li>
            <li class="nav-item  "> <a href="ecommerce_orders.html" class="nav-link "> <span class="title">Opportunities List</span> </a> </li>
          </ul>
        </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-docs"></i> <span class="title">Reviewing</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li class="nav-item  "> <a href="app_todo.html" class="nav-link "> <span class="title">Initial Screening</span> </a> </li>
            <li class="nav-item  "> <a href="app_todo.html" class="nav-link "> <span class="title">Reviewing Packages</span> </a> </li>
            <li class="nav-item  "> <a href="app_todo_2.html" class="nav-link "> <span class="title">Review and Assessment</span> </a> </li>
            <li class="nav-item  "> <a href="app_inbox.html" class="nav-link "> <span class="title">Financial Review</span> </a> </li>
          </ul>
        </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-user"></i> <span class="title">Awarding</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li class="nav-item  "> <a href="profile.html" class="nav-link "> <span class="title">Award Decisions</span> </a> </li>
            <li class="nav-item  "> <a href="page_user_profile_1_account.html" class="nav-link "> <span class="title">Award Notifications</span> </a> </li>
          </ul>
        </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-social-dribbble"></i> <span class="title">Monitoring</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li class="nav-item  "> <a href="page_general_about.html" class="nav-link "> <span class="title">Reporting</span> </a> </li>
            <li class="nav-item  "> <a href="page_general_contact.html" class="nav-link "> <span class="title">Auditing</span> </a> </li>
            <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <span class="title">On-Site visiting</span> </a> </li>
            <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <span class="title">Closeout</span> <span class="arrow"></span> </a>
              <ul class="sub-menu">
                <li class="nav-item "> <a href="page_general_search.html" class="nav-link "> Search 1 </a> </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-social-dribbble"></i> <span class="title">Accounting</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li class="nav-item  "> <a href="page_general_about.html" class="nav-link "> <span class="title">Accounts Payable</span> </a> </li>
            <li class="nav-item  "> <a href="page_general_contact.html" class="nav-link "> <span class="title">Accounts Receivable</span> </a> </li>
            <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <span class="title">Refund Request</span> </a> </li>
          </ul>
        </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-settings"></i> <span class="title">Organization</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li class="nav-item  "> <a href="page_cookie_consent_1.html" class="nav-link "> <span class="title">Manage Users</span> </a> </li>
            <li class="nav-item  "> <a href="page_cookie_consent_2.html" class="nav-link "> <span class="title">Sub-awardees</span> </a> </li>
            <li class="nav-item  "> <a href="page_system_coming_soon.html" class="nav-link " target="_blank"> <span class="title">Standard Operating Procedures (SOPs)</span> </a> </li>
            <li class="nav-item  "> <a href="page_system_404_1.html" class="nav-link "> <span class="title">Reports</span> </a> </li>
          </ul>
        </li>
        <li class="nav-item">
        <li class="heading">
          <h3 class="uppercase">Admin Workspace</h3>
        </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-basket"></i> <span class="title">Manage Users</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li class="nav-item  "> <a href="ecommerce_index.html" class="nav-link "> <i class="icon-home"></i> <span class="title">Dashboard</span> </a> </li>
            <li class="nav-item  "> <a href="ecommerce_orders.html" class="nav-link "> <i class="icon-basket"></i> <span class="title">Orders</span> </a> </li>
            <li class="nav-item  "> <a href="ecommerce_orders_view.html" class="nav-link "> <i class="icon-tag"></i> <span class="title">Order View</span> </a> </li>
            <li class="nav-item  "> <a href="ecommerce_products.html" class="nav-link "> <i class="icon-graph"></i> <span class="title">Products</span> </a> </li>
            <li class="nav-item  "> <a href="ecommerce_products_edit.html" class="nav-link "> <i class="icon-graph"></i> <span class="title">Product Edit</span> </a> </li>
          </ul>
        </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-docs"></i> <span class="title">Apps</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li class="nav-item  "> <a href="app_todo.html" class="nav-link "> <i class="icon-clock"></i> <span class="title">Todo 1</span> </a> </li>
            <li class="nav-item  "> <a href="app_todo_2.html" class="nav-link "> <i class="icon-check"></i> <span class="title">Todo 2</span> </a> </li>
            <li class="nav-item  "> <a href="app_inbox.html" class="nav-link "> <i class="icon-envelope"></i> <span class="title">Inbox</span> </a> </li>
            <li class="nav-item  "> <a href="app_calendar.html" class="nav-link "> <i class="icon-calendar"></i> <span class="title">Calendar</span> </a> </li>
            <li class="nav-item  "> <a href="app_ticket.html" class="nav-link "> <i class="icon-notebook"></i> <span class="title">Support</span> </a> </li>
          </ul>
        </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-user"></i> <span class="title">User</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li class="nav-item  "> <a href="profile.html" class="nav-link "> <i class="icon-user"></i> <span class="title">Profile 1</span> </a> </li>
            <li class="nav-item  "> <a href="page_user_profile_1_account.html" class="nav-link "> <i class="icon-user-female"></i> <span class="title">Profile 1 Account</span> </a> </li>
            <li class="nav-item  "> <a href="page_user_profile_1_help.html" class="nav-link "> <i class="icon-user-following"></i> <span class="title">Profile 1 Help</span> </a> </li>
            <li class="nav-item  "> <a href="page_user_profile_2.html" class="nav-link "> <i class="icon-users"></i> <span class="title">Profile 2</span> </a> </li>
            <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-notebook"></i> <span class="title">Login</span> <span class="arrow"></span> </a>
              <ul class="sub-menu">
                <li class="nav-item "> <a href="page_user_login_1.html" class="nav-link " target="_blank"> Login Page 1 </a> </li>
                <li class="nav-item "> <a href="page_user_login_2.html" class="nav-link " target="_blank"> Login Page 2 </a> </li>
                <li class="nav-item "> <a href="page_user_login_3.html" class="nav-link " target="_blank"> Login Page 3 </a> </li>
                <li class="nav-item "> <a href="page_user_login_4.html" class="nav-link " target="_blank"> Login Page 4 </a> </li>
                <li class="nav-item "> <a href="page_user_login_5.html" class="nav-link " target="_blank"> Login Page 5 </a> </li>
                <li class="nav-item "> <a href="page_user_login_6.html" class="nav-link " target="_blank"> Login Page 6 </a> </li>
              </ul>
            </li>
            <li class="nav-item  "> <a href="page_user_lock_1.html" class="nav-link " target="_blank"> <i class="icon-lock"></i> <span class="title">Lock Screen 1</span> </a> </li>
            <li class="nav-item  "> <a href="page_user_lock_2.html" class="nav-link " target="_blank"> <i class="icon-lock-open"></i> <span class="title">Lock Screen 2</span> </a> </li>
          </ul>
        </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-social-dribbble"></i> <span class="title">General</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li class="nav-item  "> <a href="page_general_about.html" class="nav-link "> <i class="icon-info"></i> <span class="title">About</span> </a> </li>
            <li class="nav-item  "> <a href="page_general_contact.html" class="nav-link "> <i class="icon-call-end"></i> <span class="title">Contact</span> </a> </li>
            <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-notebook"></i> <span class="title">Portfolio</span> <span class="arrow"></span> </a>
              <ul class="sub-menu">
                <li class="nav-item "> <a href="page_general_portfolio_1.html" class="nav-link "> Portfolio 1 </a> </li>
                <li class="nav-item "> <a href="page_general_portfolio_2.html" class="nav-link "> Portfolio 2 </a> </li>
                <li class="nav-item "> <a href="page_general_portfolio_3.html" class="nav-link "> Portfolio 3 </a> </li>
                <li class="nav-item "> <a href="page_general_portfolio_4.html" class="nav-link "> Portfolio 4 </a> </li>
              </ul>
            </li>
            <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-magnifier"></i> <span class="title">Search</span> <span class="arrow"></span> </a>
              <ul class="sub-menu">
                <li class="nav-item "> <a href="page_general_search.html" class="nav-link "> Search 1 </a> </li>
                <li class="nav-item "> <a href="page_general_search_2.html" class="nav-link "> Search 2 </a> </li>
                <li class="nav-item "> <a href="page_general_search_3.html" class="nav-link "> Search 3 </a> </li>
                <li class="nav-item "> <a href="page_general_search_4.html" class="nav-link "> Search 4 </a> </li>
                <li class="nav-item "> <a href="page_general_search_5.html" class="nav-link "> Search 5 </a> </li>
              </ul>
            </li>
            <li class="nav-item  "> <a href="page_general_pricing.html" class="nav-link "> <i class="icon-tag"></i> <span class="title">Pricing</span> </a> </li>
            <li class="nav-item  "> <a href="page_general_faq.html" class="nav-link "> <i class="icon-wrench"></i> <span class="title">FAQ</span> </a> </li>
            <li class="nav-item  "> <a href="page_general_blog.html" class="nav-link "> <i class="icon-pencil"></i> <span class="title">Blog</span> </a> </li>
            <li class="nav-item  "> <a href="page_general_blog_post.html" class="nav-link "> <i class="icon-note"></i> <span class="title">Blog Post</span> </a> </li>
            <li class="nav-item  "> <a href="page_general_invoice.html" class="nav-link "> <i class="icon-envelope"></i> <span class="title">Invoice</span> </a> </li>
            <li class="nav-item  "> <a href="page_general_invoice_2.html" class="nav-link "> <i class="icon-envelope"></i> <span class="title">Invoice 2</span> </a> </li>
          </ul>
        </li>
        <li class="nav-item  "> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-settings"></i> <span class="title">System</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li class="nav-item  "> <a href="page_cookie_consent_1.html" class="nav-link "> <span class="title">Cookie Consent 1</span> </a> </li>
            <li class="nav-item  "> <a href="page_cookie_consent_2.html" class="nav-link "> <span class="title">Cookie Consent 2</span> </a> </li>
            <li class="nav-item  "> <a href="page_system_coming_soon.html" class="nav-link " target="_blank"> <span class="title">Coming Soon</span> </a> </li>
            <li class="nav-item  "> <a href="page_system_404_1.html" class="nav-link "> <span class="title">404 Page 1</span> </a> </li>
            <li class="nav-item  "> <a href="page_system_404_2.html" class="nav-link " target="_blank"> <span class="title">404 Page 2</span> </a> </li>
            <li class="nav-item  "> <a href="page_system_404_3.html" class="nav-link " target="_blank"> <span class="title">404 Page 3</span> </a> </li>
            <li class="nav-item  "> <a href="page_system_500_1.html" class="nav-link "> <span class="title">500 Page 1</span> </a> </li>
            <li class="nav-item  "> <a href="page_system_500_2.html" class="nav-link " target="_blank"> <span class="title">500 Page 2</span> </a> </li>
          </ul>
        </li>
        <li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-folder"></i> <span class="title">Multi Level Menu</span> <span class="arrow "></span> </a>
          <ul class="sub-menu">
            <li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-settings"></i> Item 1 <span class="arrow"></span> </a>
              <ul class="sub-menu">
                <li class="nav-item"> <a href="?p=dashboard-2" target="_blank" class="nav-link"> <i class="icon-user"></i> Arrow Toggle <span class="arrow nav-toggle"></span> </a>
                  <ul class="sub-menu">
                    <li class="nav-item"> <a href="#" class="nav-link"> <i class="icon-power"></i> Sample Link 1</a> </li>
                    <li class="nav-item"> <a href="#" class="nav-link"> <i class="icon-paper-plane"></i> Sample Link 1</a> </li>
                    <li class="nav-item"> <a href="#" class="nav-link"> <i class="icon-star"></i> Sample Link 1</a> </li>
                  </ul>
                </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="icon-camera"></i> Sample Link 1</a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="icon-link"></i> Sample Link 2</a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="icon-pointer"></i> Sample Link 3</a> </li>
              </ul>
            </li>
            <li class="nav-item"> <a href="?p=dashboard-2" target="_blank" class="nav-link"> <i class="icon-globe"></i> Arrow Toggle <span class="arrow nav-toggle"></span> </a>
              <ul class="sub-menu">
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="icon-tag"></i> Sample Link 1</a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="icon-pencil"></i> Sample Link 1</a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="icon-graph"></i> Sample Link 1</a> </li>
              </ul>
            </li>
            <li class="nav-item"> <a href="#" class="nav-link"> <i class="icon-bar-chart"></i> Item 3 </a> </li>
          </ul>
        </li>
      </ul>
      <!-- END SIDEBAR MENU --> 
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->