<div class="login">
    <div class="user-login-5">
        <div class="row bs-reset">
            <div class="col-md-6 login-container bs-reset">
                <img class="login-logo login-6" src="../assets/pages/img/login/login-invert.png" />
                <div class="login-content">
                    <form action="javascript:;" class="login-form" method="post" [hidden]="login">
                        <h1>Metronic Admin Login</h1>
                        <p> Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat. Lorem ipsum dolor sit amet, coectetuer adipiscing. </p>
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            <span>Enter any username and password. </span>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <input [(ngModel)]="loginMail" class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Username" name="username" required/>
                            </div>
                            <div class="col-xs-6">
                                <input [(ngModel)]="loginPass" class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="Password" name="password" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="rememberme mt-checkbox mt-checkbox-outline">
                                    <input type="checkbox" name="remember" value="1" /> Remember me
                                    <span></span>
                                </label>
                            </div>
                            <div class="col-sm-8 text-right">
                                <div class="forgot-password">
                                    <a href="javascript:;" id="forget-password" class="forget-password" (click)="showForgetPassword()">Reset
                                        Password</a>
                                </div>
                                <div class="forgot-password">
                                    <a href="javascript:;" class="forget-password" (click)="showSignup()">Signup</a>
                                </div>
                                <button class="btn blue" (click)="loginAction()" type="submit">Sign In</button>
                            </div>
                        </div>
                    </form>

                    <!-- BEGIN FORGOT PASSWORD FORM -->

                    <div class="confirmation" [hidden]="resetPass">
                        <h1>
                            Rest Password mail sent
                        </h1>
                        <div class="form-actions">
                            <button type="button" class="btn blue btn-outline" (click)="showLogin()">Back</button>
                        </div>
                    </div>
                    <form class="forget-form" action="javascript:;" method="post" [hidden]="forgetPass">
                        <h1>Metronic Admin Login</h1>
                        <p> Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat. Lorem ipsum dolor sit amet, coectetuer adipiscing. </p>
                        <h3>Forgot Password ?</h3>
                        <p> Enter your e-mail address below to reset your password. </p>
                        <div class="form-group">
                            <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" required name="email" [(ngModel)]="resetEmail" />
                        </div>
                        <div class="form-actions">
                            <button type="button" id="back-btn" class="btn blue btn-outline" (click)="showLogin()">Back</button>
                            <button type="submit" (click)="resetPassAction()" class="btn blue uppercase pull-right">Submit</button>
                        </div>
                    </form>
                    <!-- END FORGOT PASSWORD FORM -->
                    <!-- BEGIN SIGNUP FORM -->
                    <div class="confirmation" [hidden]="signupConfirm">
                        <h1>
                            Confirmation mail sent
                        </h1>
                        <div class="form-actions">
                            <button type="button" id="back-1" class="btn blue btn-outline" (click)="showLogin()">Back</button>
                        </div>
                    </div>

                    <form class="signup-form" action="javascript:;" (onSubmit)="signupConfirmAction()" method="post" [hidden]="signup">
                        <h3>Sign Up</h3>
                        <p> Enter your information below to register new account. </p>
                        <div class="row">
                            <div class="col-xs-6">
                                <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" [(ngModel)]="username" autocomplete="off" placeholder="Username" name="username" required/>
                                <span class="valid validation">
                                    Valid
                                </span>
                            </div>
                            <div class="col-xs-6">
                                <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Display Name" [(ngModel)]="displayname" name="display-name" required/>

                            </div>
                            <div class="col-xs-6">

                                <input class="form-control form-control-solid placeholder-no-fix form-group" type="email" autocomplete="off" [(ngModel)]="emailAddress" placeholder="Email" name="email" required (ngModelChange)="checkMailForamte($event)" />
                                <span class="valid validation" [hidden]="emailAddressValidation  ==='' || emailAddressValidation === 0">
                                    Valid
                                </span>
                                <span class="error validation" [hidden]="emailAddressValidation  ==='' || emailAddressValidation !== 0">
                                    Invalid
                                </span>

                            </div>
                            <div class="col-xs-6">
                                <input class="form-control form-control-solid placeholder-no-fix form-group" type="email" autocomplete="off" [(ngModel)]="emailAddressConfirmation" placeholder="Confirm Email" name="confirm-email" required/>
                                <span class="error validation" [hidden]="emailAddressConfirmation  ==='' || emailAddress === emailAddressConfirmation">
                                    Emails not match
                                </span>
                                <span class="valid validation" [hidden]="emailAddressConfirmation  ==='' || emailAddress !== emailAddressConfirmation">
                                    Emails Matches
                                </span>
                            </div>
                            <div class="col-xs-6">
                                <input class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="Password" [(ngModel)]="password" (ngModelChange)="checkPass($event)" name="password" (keyup)="0" required />
                                <span class="valid validation" [hidden]="passwordStrength !== 2">Strong</span>
                                <span class="error validation" [hidden]="passwordStrength !== 0">Weak</span>
                                <span class="warning validation" [hidden]="passwordStrength !== 1">Medium</span>

                            </div>
                            <div class="col-xs-6">
                                <input class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="Confirm Password" [(ngModel)]="confirmPassword" (keyup)="0" name="confirmPassword" required />
                                <span class="error validation" [hidden]=" confirmPassword  ==='' || password === confirmPassword">
                                    Password not match
                                </span>
                                <span class="valid validation" [hidden]="confirmPassword  ==='' ||password !== confirmPassword">
                                    Password Matches
                                </span>
                            </div>
                            <div class="col-xs-12">
                                Recapacha goes here
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="button" id="reg-back-btn" class="btn blue btn-outline" (click)="showLogin()">Back</button>
                            <button type="submit" (click)="signupConfirmAction()" class="btn blue uppercase pull-right">Register</button>
                        </div>
                    </form>
                    <!-- END SIGNUP FORM -->
                </div>
                <div class="login-footer">
                    <div class="row bs-reset">
                        <div class="col-xs-5 bs-reset">
                            <ul class="login-social">
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-7 bs-reset">
                            <div class="login-copyright text-right">
                                <p>Copyright &copy; Keenthemes 2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 bs-reset">
                <div class="login-bg" style="background-image:url(../../assets/pages/img/login/bg1.jpg)"></div>
            </div>
        </div>
    </div>
</div>

