
.validation {
    font-size: 11px;
    position: absolute;
    bottom: 5px;
    border-bottom: 3px solid #fff;
}
.valid {
    border-bottom: 3px solid green;
}
.warning {
    border-bottom: 3px solid yellow;
}
.error{
     border-bottom: 3px solid red;
}

.confirmation{
    background: #90E8BA;
    padding: 35px;
    text-align: center;    
}
.confirmation h1{
    color: green;    
}
.page-container{
    margin-top: 75px;
}