<header></header>
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <side-menu></side-menu>
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Biography</h1> </div>
                <!-- END PAGE TITLE -->
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <!--
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span class="active">Portlets</span>
                </li>
            </ul>
-->
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption"> <i class="fa fa-gift"></i>Works </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"> </a>
                                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                <a href="javascript:;" data-load="true" data-url="portlet_ajax_content_1.html" class="reload"> </a>
                                <a href="javascript:;" class="fullscreen"> </a>
                                <!--                            <a href="javascript:;" class="remove"> </a>--></div>
                        </div>
                        <div class="portlet-body portlet-empty">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption font-dark"> <i class="icon-settings font-dark"></i> <span class="caption-subject bold uppercase"> Works Table</span> </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="table-toolbar">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="btn-group">
                                                            <button id="sample_editable_1_new" class="btn sbold green" data-target="#stack1" data-toggle="modal"> Add New <i class="fa fa-plus"></i> </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="btn-group pull-right">
                                                            <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i> </button>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li>
                                                                    <a href="javascript:;"> <i class="fa fa-print"></i> Print </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;"> <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;"> <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                                                <thead>
                                                    <tr>
                                                        <th> Work </th>
                                                        <th> Category </th>
                                                        <th> Actions </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let work of workList" class="odd gradeX">
                                                        <td> {{work.work}} </td>
                                                        <td class="center"> {{work.category}} </td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions <i class="fa fa-angle-down"></i> </button>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li>
                                                                        <a href="javascript:;"> <i class="icon-trash"></i> Delete </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;"> <i class="icon-pencil"></i> Edit</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;"> <i class="icon-eye"></i> View </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- END EXAMPLE TABLE PORTLET-->
                                </div>
                            </div>
                            <!--
                            <div class="actions pull-right">
                                <div class="btn-group">
                                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Add New Work
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-cloud-upload"></i> Import </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-plus"></i> Add Manualy</a>
                                        </li>                                        
                                    </ul>
                                </div>
                            </div>
--></div>
                    </div>
                    <!-- END Portlet PORTLET-->
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption"> <i class="fa fa-gift"></i>Education </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"> </a>
                                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                <a href="javascript:;" data-load="true" data-url="portlet_ajax_content_1.html" class="reload"> </a>
                                <a href="javascript:;" class="fullscreen"> </a>
                            </div>
                        </div>
                        <div class="portlet-body portlet-empty"> </div>
                    </div>
                    <!-- END Portlet PORTLET-->
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption"> <i class="fa fa-gift"></i>Funds </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"> </a>
                                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                <a href="javascript:;" data-load="true" data-url="portlet_ajax_content_1.html" class="reload"> </a>
                                <a href="javascript:;" class="fullscreen"> </a>
                                <!--                            <a href="javascript:;" class="remove"> </a>--></div>
                        </div>
                        <div class="portlet-body portlet-empty"> </div>
                    </div>
                    <!-- END Portlet PORTLET-->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<footer></footer>
<div id="stack1" class="modal fade" tabindex="-1" data-width="400">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Stack One</h4> </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Some Input</h4>
                        <p>
                            <select (chang)="0" [(ngModel)]="workTemp.category">
                                <option value=1>Category1</option>
                                <option value=2>Category2</option>
                            </select>
                            <p>
                                <input type="text" placeholder="Work" [(ngModel)]="workTemp.work" class="col-md-12 form-control"> </p>
                            <p [hidden]="workTemp.category !== '1'">
                                <input type="text" placeholder="based on Category1" class="col-md-12 form-control"> </p>
                            <p [hidden]="workTemp.category !== '2'">
                                <input type="text" placeholder="based on Category2" class="col-md-12 form-control"> </p>
                    </div>
                </div>
                <!--                <a class="btn green" data-toggle="modal" href="#stack2"> Launch modal </a>--></div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                <button type="button" (click)="addNewWork()" class="btn red">Ok</button>
            </div>
        </div>
    </div>
</div>
<div id="stack2" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Stack Two</h4> </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Some Input</h4>
                        <p>
                            <input type="text" class="col-md-12 form-control"> </p>
                        <p>
                            <input type="text" class="col-md-12 form-control"> </p>
                        <p>
                            <input type="text" class="col-md-12 form-control"> </p>
                        <p>
                            <input type="text" class="col-md-12 form-control"> </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                <button type="button" class="btn yellow">Ok</button>
            </div>
        </div>
    </div>
</div>