<header></header>
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <side-menu></side-menu>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Dashboar</h1> 
                </div>
                <!-- END PAGE TITLE -->
               
            </div>
            <!-- END PAGE HEAD-->
          
           
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <!-- END CONTENT -->
</div>
<footer></footer>